.headerContainer {
  background-color: black;
}

.navItem {
  color: white
}

.navItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginForm {
  width: 30%;
  margin: auto;
}

.class-item {
  padding: 4px;
}

.class-list {
  margin: 8px 0px
}
