.User_Modal {
    text-align: center;
    width: 100%;
    color: gray;
    margin: auto;
    padding: 10px;
}

.User_Modal_Title {
    font-size: 24px;
    margin: auto;
    padding: 5px;
}

.User_Modal_Subtext {
    font-size: 18px;
    margin: auto;
    padding: 5px;
}

.User_Modal_Button {
    font-size: 16px;
    margin: auto;
    padding: 5px;
}