.User_Modal {
    text-align: center;
    width: 100%;
    color: gray;
    padding: 10px;
}

.User_Modal_Title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-left: 2%;
    padding: 5px;
}

.User_Modal_Subtext {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-left: 9%;
    padding: 5px;
}

.User_Modal_Button {
    width: 100%;
    font-size: 16px;
    margin-left: 39%;
    padding: 5px;
}