.search-bar {
  margin: 8px 0px;
}

.map-filter {
  margin: 8px 0px;
  font-size: 30px;
  text-align: center;
}

.filter-selection {
  margin: 8px 24px;
  color: gray;
}

.filter-title {
  font-size: 24px;
}

.filter-sub-title {
  font-size: 20px;
  padding-left: 1em;
}

.filter-regular {
  font-size: 16px;
  padding-left: 1em;
  margin:1px;
}

.instructors-list-div {
  height: 790px;
  overflow-y: auto;
}

.marker-top {
  width: 130px;
  height: 40px;
  top: -60px;
  left: -65px;
  position: absolute;
  background: lightgray;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.marker-bottom {
  width: 0;
  height: 0;
  top: -20px;
  left: -10px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid lightgray;
}
