
.answer_item {
    background-color: whitesmoke;
    border-radius: 15px;
    margin-right: 50%;
    font-size: 1.5em;
}
.answer_item:hover{
    background: skyblue;
    cursor: pointer;
}
.completed_training {
    margin-top: 100px;
    text-align: center;
}
.root {
    margin: auto;
    justify-content: center;
}
.info {
    text-align: center;
}
.row {
    display: flex;
}
.col {
    padding: 50px;
}
.col2 {
    padding-top: 50px;
}
.videoquiz {
    margin:auto;
}
.info {
    background-color: lightblue;
    width: 50%;
    margin-left: 24%;
    border-radius: 15px;
    padding: 2px;
}
span {
    margin-left: 18%;
    font-size: 2em;
}
